.user {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1280px) {
  .user {
    max-width: 68%;
    margin: initial;
    flex-direction: row;
  }
}
