.footer {
  margin-top: 48px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 36px;
}

@media (min-width: 1280px) {
  .footer {
    margin-top: 66px;
    padding-left: initial;
    padding-right: initial;
    padding-bottom: 60px;
  }
}